<!DOCTYPE html>
<html>

<head>
    <title>Kuesioner</title>
</head>

<body>

    <h1>Kuesioner</h1>

    <hr>

    <div id="question" data-question-id="{{ question.id}}">
        <h3>
            Pertanyaan {{ question.order_number }} dari 10
        </h3>
        <p>
            {{ question.question_text }}
            <!-- Bagaimana pendapat Anda mengenai pelayanan akademik kampus? -->
        </p>
    </div>

    <hr>

    <video id="video" width="500" autoplay></video>

    <br><br>

    <button id="capture">
        Capture
    </button>

    <br><br>
    <br><br>
    <br><br>

    <canvas id="canvas" style="display:none;"></canvas>

    <img id="preview" width="500">

</body>

<script>
    navigator.mediaDevices
        .getUserMedia({
            video: true
        })
        .then(function (stream) {

            document
                .getElementById("video")
                .srcObject = stream;

        });

    const video = document.getElementById("video");
    const canvas = document.getElementById("canvas");
    const preview = document.getElementById("preview");

    document
        .getElementById("capture")
        .addEventListener("click", function () {

            canvas.width = video.videoWidth;
            canvas.height = video.videoHeight;

            canvas
                .getContext("2d")
                .drawImage(
                    video,
                    0,
                    0
                );

            const imageData = canvas.toDataURL("image/png");
            preview.src = imageData;
            const questionId = document.getElementById("question").dataset.questionId;
            const captureBtn =
                document.getElementById("capture");

            captureBtn.disabled = true;
            captureBtn.innerText = "Memproses...";
            captureBtn.disabled = false;
            captureBtn.innerText = "Capture";

            fetch(
                "/capture/",
                {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        image: imageData,
                        question_id: questionId
                    })
                }
            )
                .then(response => response.json())
                .then(data => {
                    console.log(data);

                    if (data.success) {
                        if (data.next_question) {

                            window.location.href =
                                "/kuesioner/" +
                                data.next_question +
                                "/";
                        } else {
                            window.location.href =
                                "/dashboard-user/";
                        }
                    } else {
                        alert(data.message);
                    }
                });
        });
</script>

</html>